body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blue;
}
.banner {
    height: 150px;
    background-color: aquamarine;
    color: aliceblue;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}